{% extends 'blogapp/base.html' %}
{% block content %}
    <h1>About the blog</h1>
    <a href=""><img style="height:50px" src="https://1.bp.blogspot.com/-G-4-fzGttIs/Xq1PerRVcdI/AAAAAAAALZ4/D34K9QWMcME8hwTMKwo_jjIx27MVBgtWACLcBGAsYHQ/s1600/1.png" ></a>
    <a href="https://www.youtube.com/channel/UCvd6i11lr2ZviQwB5ioFA3g?view_as=subscriber"><img style="height:50px" src="https://2.bp.blogspot.com/-YS_WFTLRziw/Xq1PexQaF1I/AAAAAAAALaA/HAoNGAVKk1sANs8e4TJRhKJ1hlmpvidWACLcBGAsYHQ/s1600/2.png" ></a>
    <a href=""><img style="height:50px" src="https://3.bp.blogspot.com/-sFJggBLPr1g/Xq1PexTPRGI/AAAAAAAALZ8/07BOPWpEhXIvahPhvqUXF-1PsROgV1ZgACLcBGAsYHQ/s1600/3.png"></a>
    <a href=""><img style="height:50px" src="https://4.bp.blogspot.com/-mZMnBNwQc2E/Xq1PhA7-Z0I/AAAAAAAALaE/haJiF0aTBgoafqqnytsDKKJnDpvfkoPCgCLcBGAsYHQ/s1600/4.png" ></a>
{%  endblock content %}


